@import "layout.scss";
.footer {
    background: $gray;
    padding: 2.5rem 1.5rem 0;
    position: relative;

    .inner-row {
        @extend %inner-row;
        display: flex;
        flex-wrap: wrap;
        .links {
            flex: 0 0 calc(20% - 22px);
            list-style: none;
            li {
                margin: 28px 0;
            }
        }
        @media (max-width: 992px) {
            .links {
                flex: 0 0 100%;
                li:not(:first-child) {
                    display: none;
                }
            }
        }
    }
    .copy {
        margin: 0 auto;
        max-width: 1120px;
        font-weight: bold;
        padding: 24px 0 12px;
        border-top: 1px solid #222;
    }
}
